/* BASE INFO 
blue: #0F0EFF 
grey: #CEDAF4
gold: #f8bf05
red:#d31454
dark-blue: #020242
font-family: 'Coda Caption', sans-serif;
font-family: 'Vollkorn', serif;*/

body {
  background-color: #0f0eff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #cedaf4;
  font-family: "Vollkorn", serif;
  margin: 0;
  padding: 0;
}
.header {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  background-color: #d31454f9;
  height: 40px;
}
.header a {
  margin: auto;
  text-decoration: none;
  color: #cedaf4;
  font-size: 35px;
}
.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: #d31454f9;
  height: 40px;
}
.footer a {
  margin: auto;
  text-decoration: none;
  color: #cedaf4;
}
.welcom-container {
  height: 100vh;
  display: flex;
  margin: auto;
}
.welcome-script {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  text-align: center;
}

.title {
  color: white;
  font-family: "Coda Caption", sans-serif;
  text-align: center;
  font-size: 200px;
  margin: 0;
  padding: 0;
}
.title:hover {
  transform: scale(1.2);
  color: #9b0505;
}

.title-button {
  margin: 0 auto;
}
.title-button-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  width: 30vw;
  margin: 10px auto;
}
.user-profile {
  width: 100%;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 60px;
}
button {
  cursor: pointer;
  font-size: 15px;
  font-family: "Vollkorn", serif;
  background-color: #cedaf4;
  border: none;
  color: #02024292;
  height: auto;
  padding: 20px 32px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  width: auto;
  justify-content: center;
}
button:hover {
  border: 2px solid #d31454f9;
  transform: scale(0.95);
  transition: transform 0.2s;
}
.user-profile-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.user-categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-top: 20px solid #02024292;
  width: 100%;
  margin: 20px auto;
}
.create-category-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.create-category-container h1,
.user-categories-container h1 {
  font-size: 28px;
  text-transform: uppercase;
}

.create-category-form input,
.create-question-container input {
  height: 20px;
  width: 40vw;
}

.category-detail-container {
}
.category-detail-container h2 {
  font-size: 20px;
  text-transform: uppercase;
}
.pretty-button {
  padding: 10px 15px;
}

.create-question-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 2px #f8bf05 solid;
}
.user-form-container {
  background: #02024292;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-form-container input {
  width: 360px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 4px solid #cedaf4;
  padding-left: 5px;
}
.user-form-button-container {
  display: flex;
  flex-direction: row;
}

.eye-container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatar-1 {
  background: url(./eye_avatars/blink1.gif) center;
}
.avatar-2 {
  background: url(./eye_avatars/blink2.gif) center;
}
.avatar-3 {
  background: url(./eye_avatars/blink3.gif) center;
}
.avatar-4 {
  background: url(./eye_avatars/blink4.gif) center;
}
.avatar-5 {
  background: url(./eye_avatars/blink5.gif) center;
}
.avatar-6 {
  background: url(./eye_avatars/blink6.gif) center;
}
.avatar-7 {
  background: url(./eye_avatars/blink7.gif) center;
}
.avatar-8 {
  background: url(./eye_avatars/blink8.gif) center;
}
.avatar-1,
.avatar-2,
.avatar-3,
.avatar-4,
.avatar-5,
.avatar-6,
.avatar-7,
.avatar-8 {
  width: auto;
  height: 20vh;
  background-repeat: no-repeat;
  background-size: 50%;
}

.loading-pic-container {
  height: 100px;
  width: 100px;
  position: absolute;
  /* transition: top 2s, left 2s;
  transition-timing-function: linear; */
  /* animation-name: eyes;
  animation-duration: 2s; */
}

@keyframes eyes {
  0% {
    position: relative;
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.create-board-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 4px solid #cedaf4;
  justify-items: center;

  text-align: center;
}

.category-column-container {
  display: flex;
  flex-direction: column;
  border: 4px solid #cedaf4;
  align-content: center;
  text-align: center;
  margin: 10px auto;
}

.question-information-false {
  pointer-events: none;
  margin: 10px;
  pointer-events: none;
  border: 4px solid #d31454f9;
}

.question-information-true {
  margin: 10px;
  display: flex;
  height: 100px;
  width: 100px;
  border: 4px solid #cedaf4;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.ask-question-container {
  display: block;
  margin: 10px;
  border: 4px solid #f8bf05;
}

.money {
  font-size: 40px;
  color: #f8bf05;
}
