/* BASE INFO 
blue: #0F0EFF 
grey: #CEDAF4
gold: 
font-family: 'Coda Caption', sans-serif;
font-family: 'Vollkorn', serif;*/

body {
  background-color: #0f0eff;
  color: #cedaf4;
  font-family: "Vollkorn", serif;
  margin: 0;
  padding: 0;
}
.welcome-script {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title {
  color: white;
  font-family: "Coda Caption", sans-serif;
  text-align: center;
}

.avatar-1 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink1.gif) center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.avatar-2 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink2.gif) center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.avatar-3 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink3.gif) center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.avatar-4 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink4.gif) center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.avatar-5 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink5.gif) center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.avatar-6 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink6.gif) center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.avatar-7 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink7.gif) center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.avatar-8 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink8.gif) center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.loading-pic-container {
  height: 100px;
  width: 100px;
  position: absolute;
  /* transition: top 2s, left 2s;
  transition-timing-function: linear; */
  /* animation-name: eyes;
  animation-duration: 2s; */
}

@keyframes eyes {
  0% {
    position: relative;
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.create-board-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 4px solid #cedaf4;
  justify-items: center;

  text-align: center;
}

.category-column-container {
  display: flex;
  flex-direction: column;
  border: 4px solid #cedaf4;
  align-content: center;
  text-align: center;
  margin: 10px auto;
}

.question-information-false {
  pointer-events: none;
  margin: 10px;
}

.question-information-true {
  margin: 10px;
  display: flex;
  height: 100px;
  width: 100px;
  border: 4px solid #cedaf4;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.ask-question-container {
  display: block;
}
