.avatar-1 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink1.gif) center;
  background-repeat: no-repeat;
}
.avatar-2 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink2.gif) center;
  background-repeat: no-repeat;
}
.avatar-3 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink3.gif) center;
  background-repeat: no-repeat;
}
.avatar-4 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink4.gif) center;
  background-repeat: no-repeat;
}
.avatar-5 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink5.gif) center;
  background-repeat: no-repeat;
}
.avatar-6 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink6.gif) center;
  background-repeat: no-repeat;
}
.avatar-7 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink7.gif) center;
  background-repeat: no-repeat;
}
.avatar-8 {
  width: 100%;
  height: 100%;
  background: url(./eye_avatars/blink8.gif) center;
  background-repeat: no-repeat;
}

.loading-pic-container {
  height: 200px;
  width: 200px;
}
